.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid currentColor;
  transition: all 0.3s ease;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h2 {
    margin: 0 0 10px 0;
  }

  .closeButton {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-weight: 600;
  }

  select {
    padding: 6px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid currentColor;
    transition: background-color 0.3s, color 0.3s;
  }
}

.switch {
  width: 40px;
  height: 20px;
  border-radius: 999px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.switch-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
