* {
  -webkit-tap-highlight-color: transparent;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

.settingsButton {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: rotate(30deg);
  }
}

.rankingsButton {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: rotate(30deg);
  }
}

.menu {
  display: flex;
  gap: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.bestScore {
  margin: 20px;
}
