@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Outfit", Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
}

button {
  font-family: "Outfit", Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  --btn-bg: transparent;
  --btn-color: inherit;
  --btn-border: transparent;
}

button:hover:not(:disabled) {
  background-color: var(--btn-color) !important;
  color: var(--btn-bg) !important;
  border-color: var(--btn-bg) !important;
}

p,
input,
select {
  font-family: "Outfit", Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
}
