@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Outfit", Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
}

button {
  font-family: "Outfit", Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

p,
input,
select {
  font-family: "Outfit", Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0;
}
